 body{
  margin: 0.1%;
  padding:0.2%;
}

html, body {
    overflow: hidden;
    height: 100% !important;
    margin: 0px;
    padding: 0px;
    width:100% !important;
} 


.App {
  text-align: center;
  height:100%;
  width: 100%;

 margin: 0px;
    padding: 0px;
} 



